/jdk-17.0.8+7/
/.idea/
/logs/
/.gradle/
/logs/
/project-scheduler/src/main/generated/
/jdk17/
/oft-jdk-17.0.8-windows-x64.zip
/project-serviceElasticsearch/out/
/logs/
/project-serviceElasticsearch/build/
/.idea/
/jdk/
/logs/
/logs/'
/project-serviceElasticsearch/src/main/generated/
/project-serviceElasticsearch/bin/
/project-serviceWebsocket/bin/
/project-serviceScheduler/bin/
/project-serviceJpa/bin/
/project-scheduler/bin/
/project-jpa/bin/
/project-es/bin/
/project-core/bin/
/project-cache/bin/
/bin/
/.vscode/
/project-pattern/logs/
/project-pattern/out/
/out/production/classes/*.class
